---
layout: default
title: "Staff"
---
{% if site.data.features.reveal_staff %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
            <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Staff</h2>
                <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400"></p>
            </div>
        </div>
        <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
            {%- for staff in site.data.staff -%}
                {%- include cards/staff.html staff = staff -%}
            {%- endfor -%}
        </div>
    </section>
{% else %}
    {% include what_are_you_doing_here.html %}
{% endif %}
