<div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">{% assign staff = include.staff %}
    <img class="w-full max-h-[300px] max-w-[300px] rounded-lg sm:rounded-none sm:rounded-l-lg" src="/img/staff/{{ staff.image }}" alt="{{ staff.name }} Avatar">
    <div class="p-5 h-full max-h-[300px] flex flex-col">
        <div>
            <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                {{ staff.name }}
            </h3>
            <span class="text-gray-500 dark:text-gray-400">{{ staff.position }}</span>
        </div>

        <section class="flex-grow max-w-[300px] font-light text-gray-500 dark:text-gray-400 format-sm dark:format-invert">{{ staff.quote | markdownify }}</section>
        
        {% include social-links.html socials = staff.socials %}
    </div>
</div> 
